{:simlayers {:period-mode {:key :period},
             :launch-mode {:key :a},
             :open-mode {:key :o},
             :display-mode {:key :d}}

 :templates {:launch "osascript -e 'tell application \"%s\" to activate'",
             :displayplacer "displayplacer 'id:44402D57-1A3C-4E17-B021-A62AE68A07A0 res:\"%s\" hz:60 color_depth:8 enabled:true scaling:on origin:(0,0) degree:0'",
             :open "open %s"}

 :main [{:des "launch mode"
         :rules [:launch-mode
                 [:b [:launch "Arc"]]
                 [:c [:launch "Calendar"]]
                 [:e [:launch "Visual Studio Code"]]
                 [:f [:launch "Finder"]]
                 [:l [:launch "Superhuman"]]
                 [:m [:launch "Messages"]]
                 [:n [:launch "Notes"]]
                 [:t [:launch "Terminal"]]
                 [:s [:launch "Ecamm Live"]]]},

        {:des "open mode"
         :rules [:open-mode
                 [:c [:open "~/sites/chan.dev -a 'Visual Studio Code'"]]
                 [:d [:open "~/.dotfiles/chan.dev -a 'Visual Studio Code'"]]
                 [:s [:open "~/sites -a 'Visual Studio Code'"]]]}

        {:des "display mode"
         :rules [:display-mode
                 [:1 [:displayplacer "2560x1440"]]
                 [:2 [:displayplacer "1920x1080"]]]}

        {:des "period mode"
         :rules [:period-mode
                 [:d :!S9]
                 [:f :!S0]
                 [:a [:!Sgrave_accent_and_tilde :slash]]
                 [:s [:period :!S8]]]}]}
